/* Global */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}



/* Nav Section */
.navbar {
  display: flex;
  align-items: center;
  height: 65px;
  box-shadow: 0 2px 5px rgb(152, 152, 153);
}

.navbar--image {
  height: 100%;
  margin-right: 6px;
}

.navbar--links {
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style: none;
  font-size: 1.5rem;
}

.navbar--links li {
  display: inline-block;
  padding: 1rem;
}

.navbar--links li a {
  color: black;
}

.navbar--links li a:hover {
  color: rgb(79, 79, 178);
  text-decoration: underline solid rgb(79, 79, 178);
  transition: 0.5s;
}