/* Global */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}



/* Nav Section */
.navbar {
  display: flex;
  align-items: center;
  height: 65px;
  box-shadow: 0 2px 5px rgb(152, 152, 153);
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar--image {
  height: 100%;
  margin-right: 6px;
}

.navbar--links {
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style: none;
  font-size: 1.5rem;
}

.navbar--links li {
  display: inline-block;
  padding: 1rem;
}

.navbar--links li a {
  color: black;
}

.navbar--links li a:hover {
  color: rgb(79, 79, 178);
  text-decoration: underline solid rgb(79, 79, 178);
  transition: 0.5s;
}



/* Header Section */
.header {
  width: 100vw;
  min-height: 500px;
  grid-row: 1 / 2;
  background-image: url(./Images/crops.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 80%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}



/* Main Section */
.main--title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main--title h1 {
  font-size: 2.5rem;
  margin-right: 20%;
}

.main--title button {
  background-color: #F4CE14;
  color: black;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 14px;
  cursor: pointer;
}

.main--title button:hover {
  background-color: #fddf44;
  transition: 0.5s;
}

.main--details {
  margin-left: 2rem;
  margin-right: 2rem;
}

.details--cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(152, 152, 153);
  margin-bottom: 2.5rem;
}

.details--cards:last-child {
  border-bottom: none;
}

.details--cards div {
  width: 600px;
  height: 400px;
}

.details--cards div p {
  font-size: 2.5rem;
  
}

.details--cards div p {
  font-size: 1.5rem;
  
}

.details--cards img {
  width: 400px;
  height: 400px;
  margin-bottom: 1.5rem;
  object-fit: contain;
}